.dash-board{
 padding: 80px 0;
 min-height: 93.5vh;
}
canvas{
 height: 300px !important;
}
.card-dash.one{
 background-color: #3b82f6;
 color: #fff;
}

.card-dash.two{
 background-color: #22c55e;
 color: #fff;
}
.tabel{
 margin-top: 20px;
}
.tabel img{
 max-width: 75px;
 height: 75px;
 border-radius: 50%;
 cursor: pointer;
}
.dash-board .box-card{
 background-color: #22c55e;
 padding: 25px;
 border-radius: 5px;
 color: #fff;
}