/* @import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,400;1,600&display=swap');
:root{
    --background-color-nav :  #DFF6FF;
    --color-local : #FF0075;
    --color-active : #464660;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    /* font-size: 20px !important; */
    /* font-weight: 600 !important; */
    /* font-family: 'Scheherazade New', serif !important; */
    font-family: 'Work Sans', sans-serif !important;

}
.books , .add-new , .edit{
    padding: 50px 0;
}
